# Ignore everything
/*

# Except these files & folders
!/src
!index.html
!package.json
!jsconfig.json
!jsconfig.node.json
!vite.config.js
!.prettierrc
!README.md
!CHANGELOG.md
!.eslintrc.cjs
!postcss.config.js